body {
    background-color: #313131;
    font-family: Calibri, sans-serif;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
  }

  h1 {
    color: white;
    font-size: 50px;
    text-align: center;
  }

  p {
    color: white;
    font-size: 25px;
    text-align: center;
  }

  button {
    width: 200px;
    height: 120px;
    background-color: #82b1ff;
    border: none;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 30px;
    margin: 30px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 10px;
    transition: transform 0.4s;
    box-shadow: 0 15px 8px 0 rgba(0, 0, 0, 0.2);
  }

  @media only screen and (max-width: 1200px) {
    /* Change the padding, font-size, and margin for smaller screens */
    body {
      margin-left: 8%;
      margin-right: 8%;
    }
    
    button {
      width: 200px;
      height: 120px;
      font-size: 24px;
      margin: 20px;
    }
  }

  button:hover {
    background-color: #9bc1ff;
    transform: scale(1.1); /* Change the size when hovered */
  }

  button:active {
    background-color: #628acc;
    color: whitesmoke;
    transform: scale(1); /* Change the size when hovered */
  }

  .container {
    display: flex;
    justify-content: center;
  }
